
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

<<<<<<< HEAD

td{
  text-align: center;
  color: red;
}
=======
.voting {
  background: #f8f8f8;
}
>>>>>>> 16fffa0d595894bb47003609f5c0509900984068
